<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="assets/logos/favicon-96x96.png" sizes="96x96" media="(prefers-color-scheme: light)"/>
<link rel="icon" type="image/png" href="assets/logos/faviconwhite-96x96.png" sizes="96x96" media="(prefers-color-scheme: dark)"/>
<link rel="icon" type="image/svg+xml" href="assets/logos/logo.svg" media="(prefers-color-scheme: light)"/>
<link rel="icon" type="image/svg+xml" href="assets/logos/logowhite.svg" media="(prefers-color-scheme: dark)"/>
<link rel="shortcut icon" href="assets/logos/favicon.ico" media="(prefers-color-scheme: light)"/>
<link rel="shortcut icon" href="assets/logos/faviconwhite.ico" media="(prefers-color-scheme: dark)"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" media="(prefers-color-scheme: light)"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-iconwhite.png" media="(prefers-color-scheme: dark)"/>
<meta name="apple-mobile-web-app-title" content="RiskNerd" />
<link rel="manifest" href="/site.webmanifest" />

<!-- end custom head snippets -->

<!-- import custom fonts-->
<link href="../assets/fonts/REM-VariableFont_wght.ttf" rel="stylesheet" type="text/css">
<link href="../assets/fonts/REM-Italic-VariableFont_wght.ttf" rel="stylesheet" type="text/css">
